.contenedor {
  background-color: #1e1e1e;
  color: white;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.lateral {
  position: absolute;
  left: 20px;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recomendaciones {
  background-color: #2e2e2e;
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  max-width: 220px;
}

.historial {
  background-color: #ccc;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.centro {
  text-align: center;
}

.centro h1 {
  font-size: 28px;
  margin-bottom: 8px;
}

.centro p {
  margin-bottom: 16px;
}

.buscador {
  display: flex;
  background-color: white;
  border-radius: 999px;
  padding: 5px 10px;
  align-items: center;
}

.buscador input {
  border: none;
  outline: none;
  background: transparent;
  padding: 6px;
  width: 200px;
}

.buscador button {
  background: rgb(100, 100, 100);
  border: none;
  cursor: pointer;
  font-size: 18px;
}
