.contenedor_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1e1e;
  padding: 10px 40px;
}

.logo {
  height: 40px;
  width: auto;
}

.contenedor_a {
  display: flex;
  gap: 25px;
}

.a {
  text-decoration: none;
    color: white;
    font-size:larger;
}

.a:hover {
  color: #ffd700;
}
