*{
  margin: 0;
  color: white;
}
body {
  background-color: #1e1e1e;
}
.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altura total de la pantalla */
}

.mainContent {
  flex: 1; /* Ocupar todo el espacio restante entre header y footer */
}