*{
  margin: 0;
  color: white;
}
body {
  background-color: #1e1e1e;
  /* O con imagen */
  /* background-image: url('/ruta/imagen.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center; */
}